/* DropDown menu */
.dropdowncontainer {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.dropdownmenu {
    display: flex;
    flex-direction: column;
    width: 582px;

}

.dropButton {
    border: none;
    background-color: transparent;
}

.arrow {
    width: 16px;
    height: 26px;
    cursor: pointer;
}

.up {
    transform: rotate(-90deg);
}

.down {
    transform: rotate(90deg);
}

.dropdownmenutitle {
    font-size: 18px;
    height: 52px;
    font-weight: 500;
    color: #ffffff;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    cursor: pointer;
}

.dropdownmenucontent {
    padding: 35px 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdownmenucontent p {
    font-size: 18px;
    color: #FF6060;
    line-height: 26px;
}

@media screen and (max-width : 480px) {

    .dropdownmenu {
        width: 335px;
        margin-bottom: 30px;
    }

    .dropdownmenutitle {
        height: 30px;
        font-size: 13px;
        padding: 0 11px;
    }

    .dropdownmenucontent {
        padding: 14px;
    }

    .dropdownmenucontent p {
        font-size: 13px;
        line-height: 20px;
    }

    .arrow {
        margin-top: 2px;
        width: 9px;
        height: 15px;
    }
}