@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* HERO */


/* Details */

.details {
  width: 1240px;
  background-color: #F6F6F6;
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 50px;
  column-gap: 60px;
  padding: 56px 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.detail-card {
  color: white;
  border-radius: 10px;
  position: relative;
  height: 335px;
  width: 335px;
  background-color: #fff;
}

.shadow-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}

.detail-card-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-card-title {
  position: absolute;
  bottom: 30px;
  left: 20px;
  line-break: auto;
  width: 200px;
  font-size: 18px;
  font-weight: 500;
}

.slider-container {
  position: relative;
  margin-top: 20px;
  width: 1240px;
  height: 442px;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  user-select: none;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.slider-arrows {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}

.slider-arrow-left, .slider-arrow-right {
  cursor: pointer;
  width: 50%;
  display: flex;
}

.slider-arrow-left {
  justify-content: flex-start;
}

.slider-arrow-right {
  justify-content: flex-end;
}

.counter {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}

.main-infos {
  width: 1240px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 26px;
}

.title-location-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-infos-title {
  font-size: 36px;
  color: #FF6060;
  line-height: 51px;
}

.main-infos-location {
  font-size: 18px;
  color: #FF6060;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

/* TAGS */

.tags {
  display: flex;
  height: 25px;
  gap: 10px;
}

.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6060;
  color: white;
  font-size: 14px;
  min-width: 115px;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 20px;
}

/* PROFIL INFOS */

.name-pp-rating {
  /* background-color: rgb(173, 42, 42); */
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.name-pp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.host-name {
  word-spacing: 99999999px;
  width: 100px;
  text-align: end;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;

}

.host-pp {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}

/* DropDown menu */
.dropdown-container {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 582px;

}

.dropButton {
  border: none;
  background-color: transparent;
}

.arrow {
  width: 16px;
  height: 26px;
  cursor: pointer;
}

.up {
  transform: rotate(-90deg);
}

.down {
  transform: rotate(90deg);
}

.dropdown-menu-title {
  font-size: 18px;
  height: 52px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-menu-content {
  padding: 35px 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.dropdown-menu-content p {
  font-size: 18px;
  color: #FF6060;
  line-height: 26px;
}

/* FOOTER */
.about-container {
  width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.about-header {
  margin-bottom: 31px;
}

.about-drop-menu {
  width: 1023px;
  margin-bottom: 31px;
}

.footer {
  margin-top: auto;
  width: 100%;
  height: 209px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer-logo {
  height: 35px;
  width: auto;
  margin-bottom: 50px;
}

.footer-desc {
  font-size: 24px;
  color: white;
}

.error-page {
  /* width: 100%;
  height: 600px;
   */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  /* position: absolute;
  top: 20%; */
  margin-top: 174px;
  margin-bottom: 150px;

}

.big-number {
  font-size: 263px;
}

.big-quote {
  font-size: 51px;
  margin-bottom: 200px;
}

.redirect {
  font-size: 25px;
  color: #FF6060;
  font-weight: 500;

}

*::-webkit-scrollbar {
  display: none;
}

/* under 376px */
@media screen and (max-width : 375px) {

  .hero {
    margin-top: 16px;
    width: 100%;
    padding: 0 20px;
    height: 111px;
    border-radius: 10px;
  }

  .hero-img {
    width: 100%;
    height: 111px;
    object-fit: cover;
    border-radius: 10px;
  }

  .background-layer {
    height: 111px;
    width: 335px;
    margin-left: 20px;
    border-radius: 10px;
  }

  .hero-title {
    position: absolute;
    text-align: left;
    font-size: 24px;
    width: 280px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }

  .details {
    width: 100%;
    background-color: #ffffff;
    margin-top: 22px;
    row-gap: 20px;
    column-gap: 60px;
    padding: 0 20px 16px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .slider-container {
    width: 335px;
    height: 255px;
    border-radius: 10px;
  }

  .slider-img {
    border-radius: 10px;
  }

  .slider-arrows {
    padding: 0 10px;
  }

  .slider-arrow-left img, .slider-arrow-right img {
    width: 12px;
    height: 20px;
  }

  .counter {
    display: none;
  }

  .main-infos {
    width: 335px;
    height: inherit;
    flex-direction: column;
  }

  .title-location-tags {
    width: 100%;
  }

  .main-infos-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .main-infos-location {
    font-size: 14px;
  }

  .tags {
    flex-wrap: wrap;
    height: inherit;
  }

  .tag-container {
    font-size: 10px;
    min-width: inherit;

  }

  .tag-container p {
    font-size: 10px;

  }

  .name-pp-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }

  .host-name {
    font-size: 12px;
    line-height: 17px;
  }

  .host-pp {
    height: 32px;
    width: 32px;
  }

  .star img {
    width: 15px;
    height: 15px;
  }

  .dropdown-container {
    width: 335px;
    flex-direction: column;
  }

  .dropdown-menu {
    width: 335px;
    margin-bottom: 30px;
  }

  .dropdown-menu-title {
    height: 30px;
    font-size: 13px;
    padding: 0 11px;
  }

  .dropdown-menu-content {
    padding: 14px;
  }

  .dropdown-menu-content p {
    font-size: 13px;
    line-height: 20px;
  }

  .arrow {
    margin-top: 2px;
    width: 9px;
    height: 15px;
  }

  .about-container {
    width: 335px;
  }

  .about-header {
    width: 335px;
    height: 225px;
    padding: 0 !important;
  }

  .about-image {
    height: 100%;
    object-position: bottom;
  }

  .footer-desc {
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: center;
  }

  .error-page {
    /* width: 100%;
    height: 600px;
     */

    align-items: center;
    color: #FF6060;
    position: absolute;
    top: 0;
  }

  .big-number {
    font-size: 53px;
    margin-bottom: 10px;
  }

  .big-quote {
    font-size: 18px;
    width: 260px;
    margin-bottom: 100px;
    text-align: center;
  }

  .redirect {
    font-size: 12px;
    color: #FF6060;
    font-weight: 500;

  }


}